<footer class="bg-light text-center text-lg-start">
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 text-center">
        <p class="mb-0">
          &copy; 2024 <span class="font-weight-bold">GitHub</span> |
          Desenvolvido por Amanda Marques
        </p>
        <p class="mb-0">
          <a
            class="text-dark"
            href="https://github.com/AmandaMFurtado"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Amanda Marques GitHub"
            >Veja meu GitHub</a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
