.navbar {
    padding: 1rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  .navbar-brand img {
    margin-right: 8px;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 0.5rem;
    }
  
    .navbar-brand {
      font-size: 1.2rem;
    }
  }
  