.search-bar {
    margin: 0 auto;
  }
  
 
  @media (max-width: 576px) {
    .search-bar {
      max-width: 300px;
    }
  }
  
 
  @media (min-width: 577px) {
    .search-bar {
      max-width: 600px;
    }
  }
  